<%- include('header') %>
        <div class="dark-photo">
            <h3><strong> Pharmacie SAUTHEUZ</strong></h3>
            <p class="p-legend">Votre Intranet à disposition pour une meilleure gestion !</p>
        </div>

        <div>
          <p>Ici, seront présent(e)s, les médecins, les clients, les ordonnances, les médicaments, les mutuelles, les traitements et les pathologies.<br>
            Vous avez la possibilité de les lire, d'en ajouter, d'en modifier et enfin d'en supprimer.
          </p>
        </div>
<%- include('footer') %>