<%- include('header') %>
<div class="dark-photo">
    <h3><strong> Pharmacie SAUTHEUZ</strong></h3>
    <p class="p-legend">À vos côtés depuis 1998, nous vous assurons un accès <br> aux traitements dont vous avez besoin.</p>
</div>

<div class="container w-50">
    <div class="service-title">
        <h4><strong>Nos Services</strong></h4>
    </div>

<%- include('footer') %>