<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharmacie SAUTHEUZ</title>
    <link rel="icon" type="image/png" sizes="16*16" href="/images/logoPharm.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<header>
    <nav class="navbar navbar-light bg-light main-nav">         
        <div class="logo float-left">
            <a class="navbar-brand" href="http://localhost:3000/principal">
                <img src="/images/logoPharm.png" class="">
                Pharmacie SAUTHEUZ
            </a>
        </div>

        <form class="form-group form-inline form-menu">
            
            <ul id="menu-deroulant">
                <li id="li-menu"><a href="#">Médecin</a>
                    <ul>
                        <li><a href="http://localhost:3000/medecin">Liste Médecins</a></li>
                        <li><a href="http://localhost:3000/medecin/ajouter">Ajout Médecins</a></li>
                        <li><a href="http://localhost:3000/medecin/modifier">Modification Médecins</a></li>
                        <li><a href="http://localhost:3000/medecin/rechercher">Recherche Médecins</a></li>
                    </ul>
                </li>
                <li id="li-menu"><a href="#">Clients</a>
                    <ul>
                        <li><a href="http://localhost:3000/client">Liste Clients</a></li>
                        <li><a href="http://localhost:3000/client/ajouter">Ajout Clients</a></li>
                        <li><a href="http://localhost:3000/client/modifier">Modification Clients</a></li>
                        <li><a href="http://localhost:3000/client/rechercher">Recherche Clients</a></li>
                    </ul>
                </li>
                <li id="li-menu"><a href="#">Ordonnances</a>
                    <ul>
                        <li><a href="http://localhost:3000/ordonnance">Liste Ordonnances</a></li>
                        <li><a href="http://localhost:3000/ordonnance/ajouter">Ajout Ordonnances</a></li>
                        <li><a href="http://localhost:3000/ordonnance/modifier">Modification Ordonnances</a></li>
                        <li><a href="http://localhost:3000/ordonnance/rechercher">Recherche Ordonnances</a></li>
                    </ul>
                </li>
                <li id="li-menu"><a href="#">Médicaments</a>
                    <ul>
                        <li><a href="http://localhost:3000/medicament">Liste Médicaments</a></li>
                        <li><a href="http://localhost:3000/medicament/ajouter">Ajout Médicaments</a></li>
                        <li><a href="http://localhost:3000/medicament/modifier">Modification Médicaments</a></li>
                        <li><a href="http://localhost:3000/medicament/rechercher">Recherche Médicaments</a></li>
                    </ul>
                </li>
                <li id="li-menu"><a href="#">Mutuelles</a>
                    <ul>
                        <li><a href="http://localhost:3000/mutuelle">Liste Mutuelles</a></li>
                        <li><a href="http://localhost:3000/mutuelle/ajouter">Ajout Mutuelles</a></li>
                        <li><a href="http://localhost:3000/mutuelle/modifier">Modification Mutuelles</a></li>
                        <li><a href="http://localhost:3000/mutuelle/rechercher">Recherche Mutuelles</a></li>
                    </ul>
                </li>
                <li id="li-menu"><a href="#">Traitements</a>
                    <ul>
                        <li><a href="http://localhost:3000/traitement">Liste Traitements</a></li>
                        <li><a href="http://localhost:3000/traitement/ajouter">Ajout Traitements</a></li>
                        <li><a href="http://localhost:3000/traitement/modifier">Modification Traitements</a></li>
                        <li><a href="http://localhost:3000/traitement/rechercher">Recherche Traitements</a></li>
                    </ul>
                </li>
                <li id="li-menu"><a href="#">Pathologies</a>
                    <ul>
                        <li><a href="http://localhost:3000/pathologie">Liste Pathologies</a></li>
                        <li><a href="http://localhost:3000/pathologie/ajouter">Ajout Pathologies</a></li>
                        <li><a href="http://localhost:3000/pathologie/modifier">Modification Pathologies</a></li>
                        <li><a href="http://localhost:3000/pathologie/rechercher">Recherche Pathologies</a></li>
                    </ul>
                </li>
            </ul>
        </form>        
    </nav>     
</header>