<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharmacie SAUTHEUZ</title>
    <link rel="icon" type="image/png" sizes="16*16" href="/images/logoPharm.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <header>
      <nav class="navbar navbar-expand-lg bg-success shadow">
        <div class="container-fluid">
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="menu"> -
    
                <ul class="navbar-nav d-flex align-items-lg-center">
                  <div class="w-25 float-start">
                    <img class="img-fluid img-start mx-4"  src="/images/logoPharm.png" alt="Logo">
                </div>
                <ul class="nav">
                    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Médecins</a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li></ul>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Accueil</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Médecins</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Clients</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Médicaments</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Ordonnances</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Mutuelles</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Pathologies</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Traitements</a></li>
                  </ul>
            </div>
        </div>
    </nav>
    </header>