<%- include('header_connected') %>
<div class="container w-100">
  <div class="banderole">
    <h4>Bonjour et bienvenue dans l'intranet de votre Pharmacie !</h4>
  </div>  
</div>
<%- include('footer') %>